{% extends '_base.html' %}
{% block content %}

  <div class="container">
    <h1>Add a car</h1>
  <form method="POST">
  <fieldset>
    <label><span>Make</span><input type="text" name="make"></label>
    <label><span>Model</span><input type="text" name="model"></label>
    <label><span>Year</span><input type="number" name="year"></label>
    <label><span>VIN</span><input type="text" name="vin"></label>
    <label><span>License plate</span><input type="text" name="plate"></label>
    </fieldset>
    <input type="submit" value="Add car">
  </form>
  </div>
{% endblock %}
